p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* float: left; */
    justify-content: center;
    overflow: hidden;
    width: 100%;
    /* height: 305px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

@font-face {
    font-family: "DroidSerif";
    src: url("/data/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DroidSerif";
    src: url("/data/fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "DroidSerif";
    src: url("/data/fonts//OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.serverName {
    width: 60%;
    text-indent: 5px;
    font-size: .55em;
}

.serverName a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: dashed !important;
}

.serverPing {
    width: 10%;
}

.serverMap {
    width: 20%;
}

.serverPlayers {
    width: 10%;
}

.headServerName {
    width: 60%;
    font-size: .7em;
    text-align: left;
    cursor: pointer;
    text-indent: 5px;
}

.headServerPing {
    width: 10%;
    font-size: .7em;
    text-align: left;
    cursor: pointer;
}

.headServerMap {
    width: 20%;
    font-size: .7em;
    text-align: left;
}

.headServerPlayers {
    width: 10%;
    font-size: 0.7em;
    text-align: left;
    cursor: pointer;
}

.onePlayer {
    background: #7c7c7c;
    font-size: .7em;
    box-shadow: 1px 1px 0px 1px #3a3a3a;
    display: block;
    float: left;
    width: 80%;
    height: 20px;
    line-height: 20px;
    left: 10%;
    position: relative;
    text-indent: 10px;
    font-weight: 600;
}

.headSpace {
    width: 10px;
}

.appBtns {
    width: 98%;
    display: block;
    height: auto;
    float: left;
    margin-top: 10px;
}

.refreshBtn {
    width: auto;
    float: left;
    height: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.6em;
    user-select: none;
    background: #3c3c3c;
    color: white;
    line-height: 20px;
    padding: 0 .8em;
    position: relative;
}
.refreshBtn::after {
    content: "";
    display: block;
    position: absolute;
    background: #484848;
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
}

.refreshBtn:hover {
    background: #26915a;
}

.appMain {
    height: 505px;
    width: 98%;
    background: #4b4b4b;
    /* position: absolute; */
    top: 57px;
    overflow: hidden;
}

.modalSvName {
    color: burlywood;
    width: 100%;
    display: block;
    float: left;
    background: #323232;
    text-transform: uppercase;
    padding: .5em 0;
    font-size: .6em;
    position: relative;
    text-align: center;
    /* border-top: 1px solid #333; */
}

.modalMap {
    color: rgb(255 255 255);
    width: auto;
    display: block;
    left: 0;
    background: linear-gradient(180deg, rgb(52 39 91) 0%, rgba(66,52,106,1) 100%);
    letter-spacing: 1px;
    font-size: .6em;
    position: absolute;
    text-align: center;
    padding: 0.5em 1em;
    z-index: 1;
    border-radius: 0 5px 0 0;
}

.modalSvPicture {
    height: 150px;
    background: darkslateblue;
    position: relative;
    float: left;
    width: 100%;
}

.modalPlayers {
    float: left;
    width: 100%;
    display: flex;
    height: auto;
    padding: 1em 0em;
    flex-direction: column;
    align-items: center;
}


.titleBar {
    background: #42346a;
    width: 100%;
    position: relative;
    -webkit-app-region: drag;
    overflow: hidden;
    display: block;
    float: left;
    color: white;
    line-height: 30px;
    user-select: none;
    font-size: .8em;
    z-index: 100;
}

.titleBarText {
    height: 30px;
    width: auto;
    display: block;
    float: left;
    position: relative;
    line-height: 30px;
    left: .8em;
}

.minimizeButton {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    float: right;
    /* background-color: #212121; */
    color: white;
    -webkit-app-region: no-drag;
}

.minimizeButton::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgb(255 255 255 / 90%);
    position: relative;
    left: 50%;
    margin-top: 3px;
    margin-left: -6px;
    top: 50%;
}

.settingsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: blueviolet;
    z-index: 2;
    overflow: hidden;
}

.closeButton {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    float: right;
    /* background-color: #212121; */
    color: white;
    -webkit-app-region: no-drag;
}

.closeButton::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgb(255 255 255 / 90%);
    position: relative;
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -6px;
}

.closeButton::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgb(255 255 255 / 90%);
    position: relative;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -6px;
}

.closeButton:hover {
    background-color: #951313;
}

.minimizeButton:hover {
    background-color: #323232;
}

.closeButton:active {
    background-color: #060606;
}

.minimizeButton:active {
    background-color: #161616;
}


.container {
    background-color: #292929;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    background: #42346a;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 100%;
    bottom: 0;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.modalNav {
    position: absolute;
    left: 50%;
    top: -25px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.modalNav span {
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    background: #323232;
    border-radius: 12px 12px 0px 0px;
}

.modalNav span:hover {background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(183,49,49,1) 100%);/* background: blanchedalmond; */}

.modalNav span::before {
    content: '';
    width: 14px;
    height: 2px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    transform: rotate(45deg) scale(.8);
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -1px;
}

.modalNav span::after {
    content: '';
    width: 14px;
    height: 2px;
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    transform: rotate(-45deg) scale(.8);
    position: relative;
    margin: 0 auto;
    top: 50%;
    margin-top: -2px;
}

.modalNav content {
    color: white;
}
.modalNavJoin {
    width: 20%;
    height: auto;
    background: #2d7216;
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    padding: 0.4em 0;
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
    border-radius: 2px;
}
.modalNavJoin:hover {
    background: #338b14;
}
.modalNavJoin:active {
    background: #3c991c;
}

.os-content {
    padding: 0 !important
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    display: block;
    background-color: rgb(0 0 0 / 52%);
}

.tbl-content {
    height: 480px;
    overflow-x: auto;
    margin-top: 0px;
}

th {
    padding: 5px 0px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: .7em;
    color: #fff;
    padding: .1em 0;
    border-bottom: solid 1px rgb(0 0 0 / 16%);
    cursor: pointer;
}
tbody tr:hover{
    background: #7b7b7b;
}
tr:nth-child(even) {
    background-color: #616161;
}
body {
    background: dimgray;
}

::-webkit-scrollbar {
    width: 10px;
    background: #696969;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background: #b76aff;
}

.player_spectacor {
    color: #ffc107;
    order: 1;
    font-weight: 699;
}

.onePlayer span {
    display: block;
    float: right;
    padding: 0 .5em;
    text-align: right;
}

.team1 {
    height: auto;
    display: block;
    float: left;
    text-align: center;
    width: 60%;
    position: relative;
    background: #a77935;
    padding: 0.1em 0;
}
.team1::after {
    content:"";
    width: 100%;
    position: absolute;
    height: 1px;
    background: #0000007a;
    display: block;
    bottom: 0;
}
.teamSpec {
    height: auto;
    display: block;
    float: left;
    width: 60%;
    position: relative;
    background: #6a6a6a;
    padding: .1em 0;
}
.modalPlayers .teamSpec:fisrt-child {
    background:aqua
}
.teamSpec::after {
    content:"";
    width: 100%;
    position: absolute;
    display: block;
}
.modalPlayers .team1:nth-child(even) {
    background-color: #aea53b;
}

.pName {
    width: 75%;
    display: block;
    float: left;
    font-size: 0.7em;
    font-weight: 600;
    text-align: left;
    text-indent: 10px;
    /* padding: .1em 0; */
}

.pFrags {
    width: 25%;
    font-size: .7em;
    display: block;
    float: left;
    color: #000000;
    height: auto;
    font-weight: 600;
    align-content: center;
}
.pFrags::before {
    content: "";
    height: 100%;
    width: 1px;
    background: #0000007a;
    position: absolute;
    display: block;
    top: 0;
}
.pFragsSpec {
    width: 25%;
    font-size: .7em;
    display: block;
    float: left;
    line-height: inherit;
    text-align: center;
}

.mainSettings {
    display: block;
    width: auto;
    height: 30px;
    float: right;
    background: #7632b8;
    font-size: .7em;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    padding: 0 2em;
    -webkit-app-region: no-drag;
}
.mainSettings:active {
    background-color: blueviolet;
}

.inAppBtns {
    display: block;
    float: left;
}
.progressBar {
    display: block;
    width: 98%;
    background: #2d5c4e;
    position: absolute;
    float: left;
    overflow: hidden;
    /* height: 15px; */
    bottom: 4px;
}
.progressBar span {
    display: block;
    position: relative !important;
    background: #6fab2ead !important;
    top: 0;
    height: 15px;
}
.progressBar b {
    display: block;
    position: absolute;
    top: 0;
    font-size: .6em;
    text-align: center;
    width: 100%;
    line-height: 15px;
    z-index: 1;
    color: rgb(255 255 255 / 90%);
}
.settingsWindow {
    background-color: blueviolet;
    position: absolute;
    display: flex;
    align-items: center;
    top: 30px;
    flex-direction: column;
}
.settingsActive {
    width: 100%;
    height: 100%;
}
.settingsBtnActive {
    background-color: #7632b8;
}
.settings_block {
    display: flex;
    width: 100%;
    background: linear-gradient(180deg, rgba(118,49,183,1) 0%, rgb(111 67 202) 100%);
    top: 0;
    position: absolute;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #42346a;
}
.block {
    width: 90%;
    height: auto;
    background: #d9d9d9;
    padding: 5px;
    clear: both;
    box-shadow: 1px 1px 0px 1px #484848;
    margin-bottom: 8px;
    position: relative;
    border-radius: 2px;
}
.block span {
    background: #dde4eb;
    font-weight: 600;
    font-size: .8em;
    color: #333;
    height: auto;
    float: left;
    clear: both;
    width: 100%;
    line-height: 25px;
    text-indent: 1em;
    position: relative;
}
.settingsBtn {
    width: auto;
    height: 25px;
    line-height: 25px;
    background: #5db584;
    display: block;
    float: right;
    padding: 0 1em;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
    cursor: pointer;
}
.settingsBtn:hover {
    background: #15b6ae;
}
.settingsBtn:active {
    background: #ff0707;
}
.pbHolder {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0;
}
.modalOther {
        color: rgb(255 255 255);
        width: auto;
        display: block;
        right: 0;
        background: linear-gradient(180deg, rgb(52 39 91) 0%, rgba(66,52,106,1) 100%);
        font-size: .6em;
        position: absolute;
        text-align: center;
        padding: 0.5em 1em;
        z-index: 1;
        border-radius: 5px 0 0 0;
}
.pbBox {
    display: block;
    float: left;
    padding: .5em .5em;
    font-size: .8em;
}
.pFragsSpec::before {
    content: "";
    background: #0000007a;
    height: 100%;
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
}
.appPlayers {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    background: #424242;
    left: 100%;
}
.activeTab {
    left: 0%;
}
li {
    list-style: none;
    background: aliceblue;
    border-bottom: 1px solid #ccc;
    font-size: .8em;
}
.versionInfo {
    display: block;
    position: absolute;
    bottom: 0;
    padding: 0.3em;
    font-size: .6em;
    width: 97%;
    color: white;
    text-align: right;
}